# Comipled JS files
/infrastructure/lib/*.js
/infrastructure/test/*.js
/infrastructure/bin/*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Integration tests
/integration_test/__pycache__/
/integration_test/.pytest_cache/
/integration_test/venv/

**/venv
*.vscode
