# Comipled JS files
/integration/lib/*.js
/integration/test/*.js
/integration/bin/*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Integration tests
/integration_test/__pycache__/
/integration_test/.pytest_cache/
/integration_test/venv/